
nav {
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    
}
nav a
{
    width: 100%;
    height: 70px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: darkcyan;
}
nav a:hover 
{
    background: #97969c
}
h1{
    
    width: 50%;
    margin-left: 400px;
    margin-right: auto;
    font-family: Lucida Handwriting;
    transition: 0.3s;
}
h1:hover{
  text-align: center !important; 
  width: 55%;
  
}
h3{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
}
button{
    font-family: Garamond;
    border-radius: 8px;
    font-size: medium;
    color: darkcyan;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
header{
    display: flex;
    width: 100%;
    margin:0px;
    padding: 0px;
    background-color:#e4e4e4 ;
    border-bottom: 1px solid transparent ;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    
}
.btn{

    margin-left: 44%;  
    background-color: white; 
    color: black; 
    border: 2px solid darkcyan;
    
}

.btn:hover {
    background-color: darkcyan;
    color: white;
}
.mainpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.logo{
    height: 70px;
    background-color: transparent;
    width: auto;
}



body {
  margin: 0% !important;
  padding: 0% !important;
    
    background:inear-gradient(#37808d, #56e9fc);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#37808d, #56e9fc);
    background: -moz-linear-gradient(to top, #37808d, #56e9fc);;
    background: -o-linear-gradient(to top, #37808d, #56e9fc);
    background: linear-gradient(to top, #37808d, #56e9fc);
    background-size: cover;
    background-attachment:localk;
    font-family: 'Roboto', sans-serif;
    
  }
@keyframes rippling {
    50% {
      border-left-color: #fff;
    }
  
    100% {
      border-bottom-color: #fff;
      border-left-color: #fff;
    }
  }
  
  .wrapper {
    position: absolute;
    overflow: hidden;
  }
  
  .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: 5%;
    -webkit-animation: square 20s infinite;
    -moz-animation: square 250s infinite;
    -o-animation: square 20s infinite;
    -ms-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  
  .bubbles li:nth-child(1) {
    left: 10%;
  }
  
  .bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    -moz-animation-duration: 17s;
    -o-animation-duration: 17s;
    animation-duration: 17s;
  }
  
  .bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    -o-animation-duration: 22s;
    -ms-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  .bubbles li:nth-child(5) {
    left: 70%;
  }
  
  .bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  -ms-animation-delay: 7s;
  animation-delay: 7s;
  }
  
  .bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  -moz-animation-duration: 40s;
  animation-duration: 40s;
  }
  
  .bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
  }
  
  .bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
  }
  

  .container1{
    height: 300px;
    
}



  @-webkit-keyframes square {
  0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  
  100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
      -moz-transform: translateY(-700px) rotate(600deg);
      -o-transform: translateY(-700px) rotate(600deg);
      -ms-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
  }
  }
  
  @keyframes square {
  0% {
      Opacity : 1 ;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  
  100% {
      Opacity : 0.5 ;
      -webkit-transform: translateY(-700px) rotate(600deg);
      -moz-transform: translateY(-700px) rotate(600deg);
      -o-transform: translateY(-700px) rotate(600deg);
      -ms-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
  }
  }
  




.container1 > h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#depot{
  text-align:center;
  margin-left: 44%;

  
}

.container2{
  height: 100px;
}
  

footer {
    position: absolute;
    height: 100px !important;
    bottom: -5%;
    left: 0;
    right: 0;
    background-color: #e4e4e4;
    width:100%;   
}

a {
  text-decoration: none;
} 

footer > h4{

  display: inline-block;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif
}

#details{
margin-left: 20%;
}
#Crédits{
  margin-left: 38%;
}
.backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
}
.home{
  background-image: url(../images/backgroundCovid.jpg);
}